# 통계 스터디 Quiz

- 일시: 2023.12.01(금)
- 범위: 2장
- 출제: 이우진

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [2]:
with open('chapter_2.pkl', 'rb') as file:
    chapter_2 = pickle.load(file)

quiz_1_data = chapter_2['quiz_1']
quiz_2_data = chapter_2['quiz_2']
quiz_3_data = chapter_2['quiz_3']

---

### 1.

상자 그림(box plot)은 자료의 특성을 요약하는 그래프이다. 상자 그림을 그릴 때에는 총 다섯 개의 숫자가 사용되는데, 이는 각각 자료의 최대값, 최소값, 중앙값, 제 1사분위수, 제 3사분위수이다.

In [3]:
quiz_1_data

array([99, 63, 68, 61, 69, 65, 77, 82, 53, 61, 64, 91, 79, 98, 57, 99, 85,
       69, 74, 59, 90, 61, 78, 53, 65, 51, 94, 87, 80, 51, 75, 56, 87, 95,
       55, 83, 78, 84, 97, 63, 83, 85, 79, 93, 75, 83, 80, 94, 54, 84])

위의 ```quiz_1_data```에 대한 상자 그림을 그리고자 한다. 다음의 물음에 답하시오.

#### (1)

자료에 대한 최대값, 최소값, 중앙값, 제 1사분위수, 제 3사분위수를 구하시오.

In [ ]:
quiz_1_answers = {
    '최대값': ,
    '최소값': ,
    '중앙값': ,
    '제 1사분위수': ,
    '제 3사분위수': 
}

for key, value in quiz_1_answers.items():
    print(f"{key}: {round(value, 2)}")

#### (2)

시각화 라이브러리(matplotlib, seaborn 등)를 활용하여 상자 그림을 그리고, (1)에서 구한 값이 맞는지 검증하시오.

In [ ]:



for key, value in quiz_1_answers.items():
    plt.axhline(value, linestyle='--', color='red')
    
plt.show()

---

### 2.

어떤 IT 기업에서 신입 공채를 진행하고 있다. 공채 전형 중 코딩테스트는 다음의 규칙에 의해 진행되었다.

- 응시자 수는 50명이다.
- '언어'는 Python, Java, C 의 3가지 중 하나이다.
- '점수'는 0 이상 100 이하의 정수이다.

이 코딩테스트의 결과는 다음과 같다.

In [9]:
quiz_2_data

        언어  점수
0   Python  97
1   Python  28
2        C  33
3        C  75
4   Python  59
5     Java   5
6   Python  19
7     Java  20
8     Java  70
9     Java  59
10    Java  47
11    Java  23
12  Python  55
13  Python  47
14    Java  53
15       C  62
16  Python  17
17  Python  40
18    Java  18
19       C  98
20  Python  49
21  Python  85
22    Java  50
23  Python  94
24  Python  10
25    Java   7
26  Python   4
27       C  86
28       C  25
29  Python  58
30  Python  98
31    Java  50
32       C  82
33  Python  76
34  Python  78
35       C  41
36    Java  45
37  Python  69
38    Java  64
39  Python  62
40       C  44
41  Python  69
42    Java  30
43    Java   9
44  Python  26
45  Python  40
46  Python  12
47  Python  80
48  Python  29
49       C  84

#### (1)
'언어' 컬럼의 도수와 상대도수를 계산하시오.

In [ ]:
quiz_2_1_answers = {
    '도수': ,
    '상대도수': 
}

pd.DataFrame(quiz_2_1_answers)

#### (2)
이 회사는 파이썬 사용자를 우대하기 때문에, '언어'에 따른 가중치를 다음과 같이 두고 있다.

```python
weight = {
    'Python': 1.2,
    'Java': 0.9,
    'C': 0.5
}
```

전체 응시자의 점수에 대한 평균과 가중평균을 각각 구하시오.

In [ ]:
weight = {
    'Python': 1.2,
     'Java': 0.9,
     'C': 0.5
} #언어별 가중치

quiz_2_2_answers = {
    '평균': ,
    '가중평균': 
}

for key, value in quiz_2_2_answers.items():
    print(f"{key}: {round(value, 2)}")

---

### 3.

K대학교에서는 다음과 같은 기준으로 상대평가하여 학점을 매긴다.

|등급|비율|
|:---:|:---:|
|A|35%|
|B|35%|
|F|30%|

어떤 전공 강의를 듣는 학생들 45명의 점수가 다음과 같이 산출되었다.

In [12]:
quiz_3_data

array([99.69, 95.68, 86.94, 63.31, 88.61, 50.7 , 93.58, 95.07, 97.54,
       69.04, 90.89, 96.9 , 70.8 , 86.13, 84.76, 75.18, 67.87, 79.74,
       81.36, 72.94, 92.57, 68.  , 67.9 , 72.  , 54.82, 75.7 , 94.95,
       94.98, 84.21, 65.16, 62.3 , 73.54, 80.45, 96.99, 56.99, 82.31,
       70.75, 80.8 , 62.16, 68.12, 58.87, 67.87, 69.52, 86.73, 58.4 ])

#### (1)
각 등급에서 가장 낮은 점수를 가진 학생을 '수문장'이라고 부른다고 하자. A등급과 B등급의 '수문장'의 점수를 구하시오.

In [ ]:
quiz_3_1_answers = {
    'A등급 수문장': ,
    'B등급 수문장': 
}

for key, value in quiz_3_1_answers.items():
    print(f"{key}: {value}점")

#### (2)
응급한 전염병의 사유로 정상적인 수업 진행이 어려워지면서, K대학교에서는 상대평가를 대신해 절대평가 성적 산출을 시행하기로 하였다.

|등급|점수|
|:---:|:---:|
|A|90점 이상|
|B|80점 이상 90점 미만|
|C|70점 이상 80점 미만|
|D|60점 이상 70점 미만|
|F|60점 미만|

절대평가를 시행할 때 각 등급에 대한 도수분포표와 히스토그램을 그리시오.

In [ ]:
# 도수분포표
bins_range = [0] + [i for i in range(60, 101, 10)] #등급 기준



pd.DataFrame({
    '계급': ,
    '도수': 
}).set_index('계급')

In [ ]:
# 히스토그램



plt.xticks(bins_range)
plt.show()

#### (3)
K대학교에서는 평점을 매길 때 다음과 같은 가중치를 적용한다.

|등급|가중치|
|:---:|:---:|
|A|4.5|
|B|3.5|
|C|2.5|
|D|1.5|
|F|0|

(1)에서의 상대평가안과 (2)에서의 절대평가안에 대하여, 전체 학생들의 평점의 평균을 각각 계산하시오.

In [ ]:



quiz_3_3_answers = {
    '상대평가': ,
    '절대평가': 
}

for key, value in quiz_3_3_answers.items():
    print(f"{key}: {round(value, 2)}")